{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% include "common/header.html" %}
<div class="otrdiv">
<div class="formstyle">
<form name="emp" action="{% url 'teachers:passwordreset' %}" method="post">{% csrf_token %}
	<label for="password">Current password</label><br>
	<input type="password" name="c_password" required placeholder="enter password"><br>
	<label for="password">New password</label><br>
	<input type="password" name="n_password" required placeholder="enter password"><br>
	<label for="password">confirm password</label><br>
	<input type="password" name="v_password" required placeholder="enter password"><br>
	
	<input type="submit" name="btn" value="Login" class="btn">
	{% if msg %}
	<p>{{ msg }}</p>
{% endif %}
	
</form>
</div>
</div>
{% include "common/footer.html" %}